<html>
    <head>
        <meta charset="utf-8">
        <title>Mailer</title>
    </head>
    <body>
        <form name="mailerLocker" action="/mailer/success" method="post">
            Please select the lockers you put merchandise into.<br>
            <input type="checkbox" value="1" name="locker">locker 1<br>
            <input type="checkbox" value="2" name="locker">locker 2<br>
            <input type="checkbox" value="3" name="locker">locker 3<br>
            <input type="checkbox" value="4" name="locker">locker 4<br>
            <input type="checkbox" value="5" name="locker">locker 5<br>
            <input type="checkbox" value="6" name="locker">locker 6<br>
            <input type="checkbox" value="7" name="locker">locker 7<br>
            <input type="checkbox" value="8" name="locker">locker 8<br>
            <input type="submit" value="submit">   
        </form>
    </body>
</html>