<html>
    <head>
        <meta charset="utf-8">
        <title>unlockLocker</title>
    </head>
    <body>
        <form name="mailerLocker" action="/pay" method="post">
            請至buyRecord找您欲付款訂單的 "_id" 並填入下面空格，我們將為您解鎖對應置物櫃<br/>
            <!--1. Go to your buyRecord to see which merchandise inside the locker you wanna unlock for.<br>
            2. Select the locker you wanna unlock then pay for it.<br>
            <input type="radio" value="1" name="locker">locker 1<br>
            <input type="radio" value="2" name="locker">locker 2<br>
            <input type="radio" value="3" name="locker">locker 3<br>
            <input type="radio" value="4" name="locker">locker 4<br>
            <input type="radio" value="5" name="locker">locker 5<br>
            <input type="radio" value="6" name="locker">locker 6<br>
            <input type="radio" value="7" name="locker">locker 7<br>
            <input type="radio" value="8" name="locker">locker 8<br>-->
            <input name="orderId" id="orderId"><br/>
            <input type="submit" value="submit">   
        </form>
    </body>
</html>